
GCC_PREPROCESSOR_DEFINITIONS=PL_KISSMETRICS_ENABLED=$PL_KISSMETRICS_ENABLED PL_KISSMETRICS_API_KEY=$PL_KISSMETRICS_API_KEY PL_CRASHLYTICS_ENABLED=$PL_CRASHLYTICS_ENABLED PL_CRASHLYTICS_API_KEY=$PL_CRASHLYTICS_API_KEY PL_GOOGLEANALYTICS_ENABLED=$PL_GOOGLEANALYTICS_ENABLED PL_GOOGLEANALYTICS_API_KEY=$PL_GOOGLEANALYTICS_API_KEY PL_GOOGLEANALYTICS_DEBUG=$PL_GOOGLEANALYTICS_DEBUG